.main-3{
width: 100%
height: 600px;
}
.main3-content{
width: 100%;
padding: 20px;
text-align: center;
justify-content: center;
}
.main3-content h2{
font-size: 30px;
}
.main3-content p{
font-size: 20px;
color: #545F7E;
line-height: 1.3;
}
.main3-card {
width: 90%;
}
 
.main3-card1 
{
display: flex;
margin-left: 50px;
}
.text
{
height: 180px; 
background: #fffffff;
box-shadow: 0 0 12px #b577f980;
border-radius: 20px; 
border:none ;
text-align: justify; 
padding:20px;
 margin-top: 80px;
margin-left: 50px;
} 
.text p{
font-size: 20px;
color: #545F7E;
}